{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Choose Disease</title>
</head>
<body>
    <div class="container">
        <h1>Select a Disease for Prediction</h1>
        <div class="disease-options">
            <button onclick="navigateTo('{% url 'heart' %}')">Heart Disease</button>
            <button onclick="alert('Cancer Prediction Coming Soon!')">Cancer</button>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>